.video-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.controls-wrapper {
    padding-left: 16px;
    padding-right: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.controls-row {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.controls-row:last-child {
    margin-bottom: 32px;
}

.volume, .progress {
    width: 100%;
}

.video-time {
    width: 78px;
    height: 33px;
    display: flex;
    flex-wrap: nowrap;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        width: 1786px;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
        border-radius: 2px;
        height: 10px;
        -webkit-appearance: none;
    }

    input[type='range']::-webkit-slider-runnable-track {
        height: 10px;
        -webkit-appearance: none;
        color: #ffffff;
    }

    input[type='range']::-webkit-slider-thumb {
        width: 24px;
        -webkit-appearance: none;
        height: 24px;
        border-radius: 50%;
        background: #ffffff;
        margin-top: -7px;
        cursor: pointer;
    }

    input[type='range']::-webkit-slider-runnable-track::before {
        background: #ffffff;
    }

    input[type="range"]::-webkit-slider-runnable-track::before {
        background-color: rgb(255, 255, 255);
    }
}

