.catalog {
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 32px;
    }
    &__block {
        
        margin-right: 32px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        width: 192px;
        &:nth-child(5n) {
            margin-right: 0;
            margin-bottom: 32px;
        }
        &:last-child {
            margin-bottom: 0;
            margin-right: 0;
        }
    }
    &__btn {
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
        transition: all 0.3s;
        &:hover {
            color: #BB9A4D;
        }
    }
    &__back {
        margin-bottom: 64px;
        display: flex;
        font-weight: 800;
        font-size: 32px;
        line-height: 36px;
        img {
            cursor: pointer;
            margin-right: 16px;
        }
    }
}