.valuation {
    &__heading {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 16px;
    }
    &__video {
        margin-bottom: 48px;
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
    }
    &__block {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        display: flex;
    }
    &__time {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        margin-left: 16px;
        color: #BB9A4D;
    }
}